@import url("https://use.typekit.net/ypg6cyq.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url(css/tables.css);
@import url(css/index.css);

:root {
    --blue-default: #005391;
    --light-blue: #f0f8ff;
    --green-bras: #38B140;
    --grey-default: rgba(0, 0, 0, 0.5);
    --light-black: rgb(39, 39, 39);
    --condensed: open-sans-condensed, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    text-align: center;
}

nav {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header ul {
    margin-top: 20px;
    margin-bottom: 20px;
}

header li {
    font-family: var(--condensed);
    font-weight: 700;
    text-transform: uppercase;
    color:var(--light-black);
    list-style: none;
    display: inline;
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 1rem;
    border-radius: 5px;
}

header li:hover {
    background-color: var(--light-blue);
}

header a {
    text-decoration: none;
}

.logo {
    width: 200px;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: url(../assets/logo.svg) no-repeat center;
}

main {
    max-width: 1200px;
    min-height: 100%;
    margin: auto;
    margin-top: 20px;
<<<<<<< Updated upstream
    overflow: auto;
}

.flex-info {
    display: flex;
}

.flex-info-txt {
    margin-left: 30px;
}

.info-button {
    padding: 10px 20px;
    background-color: var(--blue-default);
    border: none;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: .9rem;
    font-weight: 500;
    color: white;
    transition: all ease-in-out 200ms;
    text-decoration: none;
}

.info-button:hover {
    background-color: #003965;
=======
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.tile {
    position: relative;
   width: 33%;
   height: 400px;
   border-radius: 5px;
   color: white;
   display: flex;
   align-items: flex-end;
   justify-content: center;
   background-color: black;
}

.cor {
    background: url("https://cdn.meutimao.com.br/_upload/noticia/2022/05/15/corinthians-e-lider-do-brasileirao-com-13-zy941w.jpg") no-repeat center;
    background-size: cover;
}

.premier {
    background: url("https://www.lance.com.br/files/article_main/uploads/2021/11/24/619eb3e63ba63.jpeg") no-repeat center;
    background-size: cover;
}

.worldcup {
    background: url("https://pbs.twimg.com/media/FJkAhxlX0AEmtXL.jpg") no-repeat center;
    background-size: cover;
>>>>>>> Stashed changes
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

#logo-league {
    width: 60px;
    height: auto;
}

.desc {
    font-family: var(--condensed);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .5px;
    color: var(--grey-default);
}

#table-title {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -1px;
}

#table {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

#table img{
    width: auto;
    height: 250px;
    border-radius: 5px;
}

footer {
<<<<<<< Updated upstream
    margin-top: 50px;
=======
>>>>>>> Stashed changes
    font-size: 0.7rem;
    font-weight: 600;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    color: var(--grey-default);
    width: 100%;
    text-align: center;
    padding: 20px;
}
